*{
    margin:0;
    padding:0;
  }
  .box-container {
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    outline: none;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
  }
  .box-press{
    animation: anime 2s cubic-bezier(0.16, 1, 0.3, 1);
    max-width: 450px;
    width: 100%;margin: 0 7%;
    height: 100%;
    max-height: 240px;
    background: #fafafa;
    box-shadow:  40px 40px 40px #cccccc,
                 0 0 0 #ffffff,
                 0 0 0 #cccccc inset,
                 2px 2px 2px #ffffff inset;
  }

  @keyframes anime {
    0% {
      width: 60px;
      height: 60px;
      background: #f0f0f0;
      box-shadow:  0 0 0 #cccccc,
                   0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;
    }
    100% {
      max-width: 450px;
      width: 100%;
    max-height: 240px;
      height: 100%;
      background: #fafafa;
      box-shadow:  40px 40px 40px #cccccc,
                   0 0 0 #ffffff,
                   0 0 0 #cccccc inset,
                   2px 2px 2px #ffffff inset;
    }
}

.language{
  opacity: 1;
  display: block;
  animation: languageop .5s;
}
@keyframes languageop{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

// 

