<ion-header class="w3-black" collapse="fade">
  <ion-toolbar>
    <ion-title>Part I</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="w3-black ion-align-self-center max-w-500" scroll="true" fullscreen="true">
  <ion-header class="w3-black" collapse="condense">
    <ion-toolbar class="w3-black d-flex">
      <ion-title slot="start" size="large">Part I</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="w3-black h-75 mb-5 p-0">
    <ion-row class="row flex h-100 flex-column">
      <ion-col
        *ngIf="load"
        class="col-12 d-flex h-75 ion-align-items-center justify-content-center">
        <div class="loader loader--style1" title="0">
          <svg
            version="1.1"
            id="loader-1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="40px"
            height="40px"
            viewBox="0 0 40 40"
            enable-background="new 0 0 40 40"
            xml:space="preserve"
          >
            <path
              opacity="0.2"
              fill="#000"
              d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"
            />
            <path
              fill="#000"
              d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z"
            >
              <animateTransform
                attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 20 20"
                to="360 20 20"
                dur="0.5s"
                repeatCount="indefinite"
              ></animateTransform>
            </path>
          </svg>
        </div>
      </ion-col>
      <ion-col *ngIf="content" class="col-12 py-3 text-center">
        <ion-row class="row">
          <ion-col class="col-12 py-5 text-center">
            <div class="logo my-4">
              <b>follow<span> your</span><span> inst</span>incts</b>
            </div>
          </ion-col>
          <ion-col *ngIf="content" class="col-12 text-center">
              <form 
                [formGroup]="form"
                class="">
                <ion-input
                  [(ngModel)]="pass"
                  [ngClass]="{ wrong: id === 1 }"id="1"
                  (keydown.space)="$event.preventDefault()"
                  (keyup.enter)="next((id = 1))"
                  formControlName="partI"
                  class="text-left w-75 border rounded-2 w3-black"
                  type="text"
                  id="nme" 
                  required 
                  placeholder="{{'LEVELS.TYPE' | translate}}"
                  autocomplete="off"
                  name="name"
                  maxlength="40"
                  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                  required></ion-input>
              </form>
            <ion-text
              [ngClass]="{ 'd-block': id === 1 }"
              id="1"
              class="oops"
              style="display: none">
              <span class="text-danger oops">{{"LEVELS.WRONG" | translate}}</span>
            </ion-text>
          </ion-col>
          <ion-col class="col-12 py-3 text-center">
            <ion-button
              id="open-modal"
              fill="clear"
              class="text-secondary w-25"
              expand="block">???</ion-button>
            <ion-modal
              #modal  
              trigger="open-modal"
              [initialBreakpoint]="0.25"
              [breakpoints]="[0, 0.25, 0.5, 0.75]">
              <ng-template >
                <ion-content color="dark">
                  <ion-text class="d-flex mt-5 mx-4">
                    <span class="fw-300 text-secondary">
                      {{ "LEVELS.TIP" | translate }}
                    </span>
                  </ion-text>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
